@charset "UTF-8";
/*=========================================================

	レイアウトに関する設定

=========================================================*/

/*======================================
	General Layout
=======================================*/
body {
  text-align: center;
}

div#pagetop,
div#pagebottom {
  width: 100%;
}

div#wrap,
div#head,
div#foot {
  width: 960px;
}

/*--------------------------------------
	div#pagetop
---------------------------------------*/
div#pagetop {
  text-align: left;
}

/*--------------------------------------
	div#wrap
---------------------------------------*/
div#wrap {
  text-align: left;
}

/*--------------------------------------
	div#head
---------------------------------------*/
div#head {
}

/*--------------------------------------
	div#navi
---------------------------------------*/
div#navi {
}

/*--------------------------------------
	div#content
---------------------------------------*/
div#content {
}

/*--------------------------------------
	div#pankuzu
---------------------------------------*/
div#pankuzu {
}

/*--------------------------------------
	#top
---------------------------------------*/
div#top {
}

/*--------------------------------------
	#main
---------------------------------------*/
div#main {
  float: left;
}

/*--------------------------------------
	#left
---------------------------------------*/
div#left {
  float: left;
}

/*--------------------------------------
	#right
---------------------------------------*/
div#right {
  float: left;
}

/*--------------------------------------
	#bottom
---------------------------------------*/
div#bottom {
}

/*--------------------------------------
	div#foot
---------------------------------------*/
div#foot {
}

/*--------------------------------------
	div#pagebottom
---------------------------------------*/
div#pagebottom {
}
